body {
  background: #e5e5e5;
  font-family: Arial, sans-serif;
}

.container {
  background: white;
  width: 600px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px #0003;

}

h1 {
  margin: 0;
}

.input-row {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  background: #1d8348;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #145a32;
}

.counters {
  margin: 15px 0;
  border-left: 4px solid red;
  padding-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.icon-btn {
  cursor: pointer;
  font-size: 18px;
}

.check {
  color: green;
}

.delete {
  color: red;
}
